@model BigSchool.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<ul class="course">
    @foreach (var lecturer in Model.Lecturer)
    {
        <li>
            <span class="lecturer">
                @lecturer.Email
                -
                @lecturer.Name
            </span>
        </li>
    }
</ul>